@using Calculator_ege_bu.Models.Accaunt

@model LoginViewModel

<h4>Вход</h4>
<div class="row">
    <div class="d-flex justify-content-center">
        <form action="@Url.Action("Login")" method="post">
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            @Html.EditorFor(m => m.Name)
            @Html.EditorFor(m => m.Password)
            @Html.EditorFor(m=>m.RememberMe)
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Войти</button>
                <a class="btn btn-secondary" href="@Url.Action("Index")">Назад</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
